@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
    src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    src: url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Black.woff') format('woff'), url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, a, li, div, button {
    letter-spacing: 0.5px;
}

span {
    display: inline-block;
}

textarea {
    resize: unset !important;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: #2b3a5e;
}

a:hover {
    color: #1db5c9 !important;
}

ul {
    list-style: none;
}

button {
    text-transform: uppercase;
    font-size: 13px !important;
    background: #2b3a5e;
    color: #fff;
}

header {
    background: #f8f9fa;
}

.design-button-span {
    z-index: 999999 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
}

.design-button {
    position: relative;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    outline: none !important;
    border: none !important;
    height: 40px;
    width: 150px;
}

.design-button:hover {
    border-radius: 4px !important;
}

.design-button::before {
    content: "";
    position: absolute;
    outline: none !important;
    border: none !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #1db5c9;
    opacity: 0;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.design-button:hover::before {
    opacity: 1;
    width: 100%;
}

.navbar-brand,
.nav-link {
    font-weight: 700;
    color: #2b3a5e;
}

.navbar-brand {
    font-size: 20px;
}

.nav-link {
    font-size: 15px;
}


.nav-item {
    margin: 0 7px;
}

.nav-item:last-of-type {
    margin-right: 20px;
}

header {
    margin: 7px 0;
}

.img-sliders-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height:550px; */
    height: auto;
    /* overflow: hidden; */
}

.slide {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.img-item {
    /* height:550px; */
    height: auto;
    width: 100%;
    position: relative;
}

.img {
    display: inline-block;
    background-size: cover;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.img:hover {
    opacity: 0;
}

.slide-text-box {
    position: absolute;
    /*left: 30%;*/
    left: 23%;
    top: 50%;
    transform: translate(-30%, -50%);
    overflow: hidden;
}

.slide-heading {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    color: #2b3a5e;
}

.slide-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #737f8c;
    white-space: initial;
    word-wrap: break-word;
    width: 75%;
}

.slide-rect {
    height: 40px;
    width: 110px;
    background: #2b3a5e;
    color: #fff;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 45%;
    transform: translate(-2%, -45%);
    display: block;
    background: #ddd6d6;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 2%;
}

.owl-carousel .owl-nav button.owl-next {
    right: 2%;
}

#about-us-section,
#contact-us-section {
    background: #ecf7f9;
}

.section-spacing {
    margin: 100px 0;
    width: 100%;
}

h3 {
    font-size: 33px;
    font-weight: 700;
    line-height: 1.3;
    color: #2b3a5e;
}

p {
    font-size: 17px;
    color: #737f8c;
}

.para-top-spacing {
    height: 14px;
}

.para-bottom-spacing {
    height: 50px;
}

#latest-news-section .card,
#our-team-section .card {
    outline: none;
    border: unset;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}

#latest-news-section .card-img-top,
#our-team-section .card-img-top {
    border-radius: 4px;
}

#our-team-section .card > img {
    text-align: center;
    width: 60%;
    margin: auto;
}


#latest-news-section .card-title {
    font-size: 17px;
    color: #2b3a5e;
    font-weight: 700;
    line-height: 1.5;
}

#our-team-section .card-title {
    margin-top: 10px;
    color: #2b3a5e;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.5;
}

#our-team-section .job-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    opacity: 0.8;
}

#our-team-section .person-bio {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.7;
}


#latest-news-section .card-body a {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}


.arrow-icon {
    color: #2b3a5e;
    margin-left: 7px;
    /* transition: margin-left 5s; */
    transition: all 0.5s;
}

.arrow-icon:hover {
    margin-left: 12px;
    color: #1db5c9;
}

.about-us-para {
    margin-top: 22px;
    line-height: 1.5;
}

.about-us-para-opening-sentence {
    color: #2b3a5e;
    font-weight: 700;
}

.about-us-img-wrapper {
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.1);
}

.team-social-icons-wrapper {
    margin-top: 20px;
}

.team-social-icons-wrapper > span:first-child > a:not(:first-child),
.team-social-icons-wrapper > span:last-child > a:not(:first-child) {
    margin-left: 5px;
}

.team-social-icons {
    color: #1DB5C9;
    background: #f1f1f3;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.team-social-icons:hover {
    color: #f1f1f3;
    background: #1DB5C9;
}

.contact-us-form input {
    border-radius: 45px;
    height: 61px;
    padding-left: 30px;
}

.contact-us-form textarea {
    border-radius: 32px;
    resize: none;
    padding: 15px 0 15px 30px;
}

.contact-form-button {
    height: 55px;
    width: 157px;
    border-radius: 45px;
    margin-top: 7px;
    background: #2b3a5e;
}

.contact-form-button:hover {
    background: #1db5c9;
}

.contact-us-img-wrapper > img {
    width: 350px;
}

footer {
    background: #2b3a5e;
}

.footer-section-spacing {
    margin: 50px 0 10px 0;
    width: 100%;
}

.footer-list {
    padding: 0;
}

.footer-title {
    font-weight: 700;
    color: #fff;
}

.footer-list li {
    margin: 5px 0;
}

.footer-list li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
}

.footer-list li a:hover {
    color: #1db5c9 !important;
    /* opacity: 0.9; */
}

.footer-hr {
    color: #fff;
    background: #fff;
    opacity: 0.1;
    margin: 10px 0;
    height: 0.2px;
    width: 100%;
}

.copyrights {
    font-size: 14px;
    margin-top: 5px;
}

.modal-body {
    padding: 60px;
}


.investor-modal-title,
.startups-modal-title {
    font-size: 27px !important;
    color: #2b3a5e;
}

.investor-modal-header-close,
.startups-modal-header-close {
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 20px !important;
    outline: none !important;
}

.btn-design-primary {
    background: #2b3a5e !important;
    border: 1px solid #2b3a5e !important;
    color: #fff !important;
    padding: 12px 25px;
}


.btn-design-secondary {
    background: transparent !important;
    border: 1px solid #2b3a5e !important;
    color: #2b3a5e !important;
    padding: 12px 25px;
}

.investor-form-group input,
.startups-form-group input {
    padding: 10px;
    margin-top: 20px;
}

.investor-form-group button,
.startups-form-group button {
    margin-top: 15px;
}

.startups-information-idea h3 {
    margin: 40px 0;
}

.idea-imgs {
    border: 1px solid #dfe0e2;
    border-radius: 4px;
}

.idea-imgs img {
    padding: 20px;
    width: 100%;
}

.startups-imgs-idea {
    margin: 40px 0;
}

.idea-video-wrapper > div {
    height: 300px;
}

.startups-information-description {
    margin-top: 40px;
}

.startups-video-idea {
    margin-top: 60px;
}

.range-value {
    background: rgba(224, 222, 222, 0.5);
    color: #2b3a5e;
    font-weight: 500;
    border-radius: 4px;
    padding: 7px 13px;
    width: 93.16px;
    max-width: 100px;
    text-align: center;
}

.startups-information-wrapper {
    background: rgba(224, 222, 222, 0.2);
    padding: 60px 80px;
    border-radius: 4px;
    width: 100%;
    min-height: 500px;
}

.investors-information-header {
    cursor: pointer;
}

.investors-information-header-title {
    font-size: 40px;
}

.investors-information-header-icon {
    color: #2B3A5E;
    background: #e4e4e4;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px 15px;
}

.startup-pitches-list {
    width: 100%;
}

.startup-pitches {
    background: #fff;
    box-shadow: 1px 1px 5px 3px rgb(43, 58, 94, 0.05);
    border-radius: 15px;
    border: 1px solid #e9ebf0;
    padding: 20px 30px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.page-title {
    color: #2b3a5e !important;
}

.page-title-hr {
    margin: 15px 0 20px 0;
    height: 0.1px;
    width: 100%;
    color: #2b3a5e;
}

.startup-heading {
    color: #2b3a5e !important;
}

.startup-category {
    font-size: 13px;
}

.startup-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    font-size: 15px;
}

.startup-chat-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(224, 222, 222, 0.5);
    position: absolute;
    bottom: 40px;
    right: 20px;
    margin-top: 20px;
}

.startup-chat-wrapper-msg-icon {
    margin-top: 3px;
}


.investor-chat-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(224, 222, 222, 0.5);
    position: absolute;
    top: 0;
    right: 20px;
    margin-top: 20px;
}

.investor-chat-wrapper-msg-icon {
    position: absolute;
    top: 29px;
    right: 29px;
}

.envelope-icon {
    font-size: 20px;
    color: #2b3a5e;
}

.envelope-icon:hover {
    color: #1db5c9;;
}

.owl-carousel.owl-loaded {
    display: flex;
}

/**
*   @messenger styling
**/

.investor-to-startups-conversation {
    display: none;
}

.messanger-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.investor-messanger-chat {
    height: 50px;
    width: 53px;
    background: #2b3a5e;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 5px rgba(0, 0, 0, .1);
}

.investor-messanger-chat .badge {
    position: absolute;
    top: -12px;
    right: -7px;
    border-radius: 24px;
    border: 2px solid #fff;
    outline: unset !important;
}

.investor-messanger-chat .envelope-icon {
    color: #fff;
    font-size: 26px;
}

.chat-screen-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 94px;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 7px 5px rgba(0, 0, 0, .1);
}

.chat-screen-header {
    height: 40px;
    background: #2b3a5e;
    font-size: 17px;
    color: #fff;
    padding: 0 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.chat-screen-header .header-close {
    font-size: 20px;
    color: #fff;
}

.chat-screen-body {
    padding: 10px;
    background: #f9f9f9;
    height: 170px;
    margin-top: 40px;
    overflow-x: hide;
    overflow-y: auto;
}

.chat-screen-body .message-received {
    border-radius: 5px;
    overflow-x: hide;
    overflow-y: auto;
}

.chat-screen-body .message-received .peer-chat,
.chat-screen-body .message-received .my-chat {
    font-size: 13px;
    padding: 0;
    overflow-wrap: break-word;
    margin: 0 0 7px 0;
}

.chat-screen-body .message-received .peer-chat span,
.chat-screen-body .message-received .my-chat span {
    color: #737f8c;
    background: #e4e4e4;
    padding: 7px;
    border-radius: 5px;
}

.chat-screen-body .message-received .my-chat {
    text-align: right;
}

.chat-screen-footer {
    height: 40px;
    background: #fff;
    font-size: 17px;
    color: #fff;
    padding: 0 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, .1);
}

.chat-typing .form-group textarea {
    border-radius: 0 !important;
}

.chat-typing .form-group textarea,
.chat-typing .form-group textarea:focus {
    border-radius: 0 !important;
    outline: unset !important;
    border: unset;
    box-shadow: unset;
    height: 20px;
    margin-top: 10px;
    resize: unset;
    overflow: hidden;
    padding: 0 20px;
}


/**
*   Message page styling
*/

#startups-investors-messages {
    min-height: calc(100vh - 318.19px);
}

.message-wrapper {
    min-height: calc(100vh - 338.19px);
    background: rgba(224, 222, 222, 0.2);
    /* margin: 10px 0; */
    /* background : red; */
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.message-left-wrapper {
    min-height: calc(100vh - 339.19px);
    background: rgba(224, 222, 222, 0.5);
    width: 100%;
    overflow: hidden;
}

.message-left-body {
    /* margin: 10px 0; */
    overflow: hidden;
}

.search-wrapper {
    padding: 10px;
}

.startups-investors-form {
    width: 100%;
    background: rgba(224, 222, 222, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
}

#messages_search {
    width: 85%;
    margin-right: 5%;
    outline: unset !important;
    border: unset !important;
    box-shadow: none !important;
}

.startups-investors-search-icon {
    width: 10%;
    color: rgba(0, 0, 0, .5);
}

.startups-investors-search-icon {
    width: 10%;
    color: rgba(0, 0, 0, .5);
}

.message-tabs-wrapper {
    margin-top: 5px;
}

.list-inline-item {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    width: 75px;
    text-align: center;
    margin: 0 !important;
    padding: 5px 0;
    border-bottom: 0;
}

.messages-active-item {
    color: #2b3a5e;
    border-bottom: 2px solid #2b3a5e;
}

.people-message-wrapper {
    margin: 10px 10px 0 10px;
    /* min-height: calc(100vh - 462.19px); */
    min-height: calc(100vh - 349.19px);
    overflow-y: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 7px;
}

.people-message {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

.people-pic-wrapper {
    position: relative;
    width: 40px;
    float: left;
    margin-right: 15px;
}

.person-active-status {
    position: absolute;
    bottom: 7px;
    left: 30px;
    border: 2px solid #fff;
    border-radius: 45px;
    height: 10px;
    width: 10px;
}

.person-img {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 45px;
    overflow: hidden;
}

.person-img > img {
    padding: 5px;
    height: 40px;
    width: 40px;
    object-fit: contain;
    object-position: center;
    border-radius: 45px;
}

.people-message-text-wrapper {
    position: relative;
    /*overflow: hidden;*/
    display: inline-block;
    width: 70%;
}

.people-message-text-wrapper h6 {
    width: 80%;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trash-icon {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    top: 2.3px;
    cursor: pointer;
}

.people-message-text-wrapper p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
    margin: 0;
}

/* RIGHT  */

.message-right-wrapper {
    min-height: calc(100vh - 339.19px);
    width: 100%;
}

.people-pic-wrapper-header {
    background: rgba(224, 222, 222, 1);
    height: 60px;
    padding: 10px 30px;
}

.people-pic-wrapper-right {
    position: relative;
    width: 40px;
    float: left;
    margin-right: 15px;
}

.person-active-status-right {
    position: absolute;
    bottom: 7px;
    left: 30px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 45px;
    height: 10px;
    width: 10px;
}

.person-img-right {
    background: #fff;
    border-radius: 45px;
    overflow: hidden;
}

.person-img-right > img {
    padding: 5px;
    height: 40px;
    width: 40px;
    object-fit: contain;
    object-position: center;
}

.people-message-text-wrapper-right {
    position: relative;
    overflow: hidden;
}

.people-message-text-wrapper-right h6 {
    width: 80%;
    font-weight: 700;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.people-message-text-wrapper-right .trash-icon {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    top: 2.3px;
    cursor: pointer;
}

.people-message-text-wrapper-right p {
    font-size: 11px;
    margin: 0;
}

.people-pic-wrapper-body {
    min-height: calc(100vh - 339.19px - 110px - 90px);
    height: calc(100vh - 339.19px - 110px);
    max-height: calc(100vh - 339.19px - 110px);
    padding: 10px 30px;
    overflow-y: auto;
}

.actual-message-left > span {
    font-size: 14px;
    background: #2b3a5e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.current-time {
    font-size: 11px;
}

.people-pic-wrapper-footer {
    background: rgba(0, 0, 0, 0.1);
    height: 51px;
    line-height: 51px;
    padding: 0px 30px;
}

.actual-message-right {
    text-align: right;
}

.text-muted-right {
    color: rgba(255, 255, 255, 0.5);
}

.actual-message-right > span {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.to-be-sent-messages form input {
    width: 100%;
}

.chat-send-input {
    width: 85%;
    margin-left: 20px;
}

.chat-send-input #text {
    width: 98%;
}

.clip-icon-wrapper {
    cursor: pointer;
    /* background: rgba(0,0,0, 0.1 );
    width:50px;
    text-align: center;
    border-radius: 5px; */
    /* height:40px; */
}

.clip-icon-wrapper > i {
    font-size: 22px;
}

.chosen-files-wrapper {
    display: none;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    padding: 10px 22px;
    background: rgba(186, 223, 224, 0.2);
    max-height: 90px;
    overflow-y: auto;
}

.chosen-files-items {
    background: rgba(186, 223, 224, 0.5);
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 13px;
    margin-bottom: 7px;
}

.chosen-files-items:last-child {
    margin-bottom: 0;
}

.chosen-files-items > div {
    display: inline-block
}

.chosen-files-items > div:first-child {
    width: 90%;
}

.chosen-files-items > div:first-child a {
    display: block;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chosen-files-items > div:last-child {
    width: 10%;
    cursor: pointer;
}


.chat-files-close {
    border-radius: 45px;
    text-align: center;
    opacity: 0.5;
    height: 13px;
    line-height: 13px;
    width: 13px;
}

.add-startup-button {
    position: absolute;
    right: 0;
    top: -75px;
}

.add-startup-button > span {
    background: rgb(32, 209, 32);
    color: #fff;
}

.mobile-screen-pitches-icons-wrapper {
    display: none;
}

.startups-pitches-icon {
    color: #2B3A5E;
    background: #e4e4e4;
    font-size: 16px;
    border-radius: 5px;
    padding: 4px 10px;
    float: right;
    margin-right: 10px;
}

.add-startup-button > span > i {
    font-size: 24px;
}

.mobile-screen-edit-btn {
    display: none;
}

.startup-pitches-left {
    display: inline-block;
    width: 130px;
    min-height: 120px;
    vertical-align: top;
    background: rgba(224, 222, 222, 0.5);
    margin-right: 20px;
    border-radius: 5px;
}

.startup-pitches-right {
    display: inline-block;
    width: calc(94% - 110px - 20px);
    vertical-align: top;
}

.mobile-view-startup {
    display: none !important;
}

.required-amount-txt {
    font-size: 11px;
}

.service-section-col {
    padding: 10px !important;
}

.service-section-col-card {
    background: rgba(0, 0, 0, .05);
    padding: 20px;
    border-radius: 5px;
}

.service-section-col-main-title {
    font-size: 16px;
    font-weight: 500;
}

.service-section-col-main-text {
    font-size: 14px;
}

/**
*   Extra small screen
*/
@media only screen and (max-width: 768px) {
    .add-startup-button {
        position: absolute;
        left: 13%;
    }

    .startups-profile {
        margin-top: 70px;
    }

    .investors-information-header-icon {
        font-size: 26px;
    }

    .startup-pitches-left {
        display: block;
        width: 80px;
        min-height: 70px;
        background: rgba(224, 222, 222, 0.5);
        margin-right: 0;
        margin-bottom: 15px;
    }

    .startup-pitches-right {
        display: block;
    }

    .web-view-startup {
        display: none !important;
    }

    .mobile-view-startup {
        display: block !important;
    }
}

@media only screen and (max-width: 575px) {
    header {
        margin: 0;
    }

    .large-screen-pitches-icons {
        display: none;
    }

    .mobile-screen-pitches-icons {
        display: inline-block;
    }

    .mobile-screen-pitches-icons-wrapper {
        display: block;
    }

    .large-screen-edit-btn {
        display: none;
    }

    .mobile-screen-edit-btn {
        display: block;
    }

    .slide-text {
        width: 85%;
        height: 44px;
        overflow: hidden;
    }

    .slide-text-box {
        position: absolute;
        left: 151px;
        top: 115px;
        transform: translate(-151px, -115px);
        margin-left: 8%;
        margin-top: 4%;
        width: 100%;
        overflow: hidden;
    }

    .slide-heading {
        font-size: 17px;
        line-height: 30px;
        font-weight: 600;
        color: #2b3a5e;
    }

    .slide-text {
        margin-top: -28px;
    }

    .section-spacing {
        margin: 30px 0;
    }

    .owl-nav {
        display: none;
    }

    .contact-us-img-wrapper > img {
        width: 234px;
    }

    .investors-information-header-title {
        font-size: 34px;
    }

    .chat-send-input {
        width: 68%;
        margin: auto;
    }

    .startup-chat-wrapper {
        background: rgba(224, 222, 222, 0.5);
        position: static;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 340px) {

    .slide,
    .img-item,
    .img-item img {
        height: 140px;
    }

    .slide-text-box {
        overflow: hidden;
    }

    .slide-heading {
        font-size: 15px;
        line-height: 24px;
    }

    .slide-text {
        font-size: 14px;
        line-height: 20px;
        margin-top: -28px;
        height: 40px;
        overflow: hidden;
    }
}

/**
*   Small screen
*/
@media only screen and (min-width: 576px) {
    header .container {
        max-width: 100%;
    }

    /* .navbar-nav{
        margin: 0 !important;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .1rem;
        padding-left: .1rem;
        font-size: 14px;
    } */
    .design-button {
        width: 100px;
        height: 40px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 12px;
    }

    .design-button-span {
        width: 100px;
        height: 40px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 12px;
    }

    .owl-nav {
        display: block;
    }
}


/**
*   Medium screen
*/
@media only screen and (min-width: 768px) {
    .slide-heading,
    .slide-text {
        margin-bottom: 0;
    }
}

/**
*   Large screen
*/
@media only screen and (min-width: 992px) {
    header .container {
        max-width: 960px;
    }

    .slide-heading {
        font-size: 50px;
        line-height: 60px;
    }

    .slide-text {
        font-size: 18px;
        line-height: 27px;
    }
}

/**
*   Extra large screen
*/
@media only screen and (min-width: 1200px) {
    header .container {
        max-width: 1140px;
    }
}
